name: "Build and push to docker hub"
on: 
    push:
        tags:
            - "v*"
    workflow_dispatch:
permissions:
    contents: "read"
jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          -
            name: Set up QEMU
            uses: docker/setup-qemu-action@v3
          -
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3
          -
            name: Login to Docker Hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
          -
            name: Setup pnpm
            uses: pnpm/action-setup@v2.0.1
            with:
              version: 8.13.1
          -
            name: Set pnpm store path
            run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_ENV
          -
            name: Debug Directory Contents
            run: ls -R
          -
            name: Install modules
            run: pnpm install
          -
            name: Cache pnpm modules
            uses: actions/cache@v2
            with:
                path: ${{ env.PNPM_STORE_PATH }}
                key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                    pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          -
            name: Build and push
            uses: docker/build-push-action@v5
            with:
              platforms: linux/arm64,linux/amd64
              push: true
              tags: ${{ secrets.DOCKERHUB_USERNAME }}/client:latest
              cache-from: type=gha
              cache-to: type=gha,mode=max
